<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @party.mobile %>
</p>

<p>
  <strong>Qbc:</strong>
  <%= @party.qbc %>
</p>

<p>
  <strong>Address:</strong>
  <%= @party.address %>
</p>

<p>
  <strong>Refrence 1:</strong>
  <%= @party.refrence_1 %>
</p>

<p>
  <strong>Refrence 2:</strong>
  <%= @party.refrence_2 %>
</p>

<p>
  <strong>Refrence 3:</strong>
  <%= @party.refrence_3 %>
</p>

<p>
  <strong>Gst no:</strong>
  <%= @party.gst_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @party.pan_no %>
</p>

<p>
  <strong>Adhaar no:</strong>
  <%= @party.adhaar_no %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @party.mobile_2 %>
</p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
