<%= form_with(model: stock_sub_type, local: true) do |form| %>
  <% if stock_sub_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_sub_type.errors.count, "error") %> prohibited this stock_sub_type from being saved:</h2>

      <ul>
      <% stock_sub_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :weight_unit %>
    <%= form.text_field :weight_unit %>
  </div>

  <div class="field">
    <%= form.label :stock_type_id %>
    <%= form.text_field :stock_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
