<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Stockid</th>
      <th>Shape</th>
      <th>Color</th>
      <th>Clarity</th>
      <th>Carat</th>
      <th>Weight</th>
      <th>Rap</th>
      <th>Discount percentage</th>
      <th>Additional disc 1</th>
      <th>Additional disc 2</th>
      <th>Additional disc 3</th>
      <th>State</th>
      <th>Stock type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stockId %></td>
        <td><%= stock.shape %></td>
        <td><%= stock.color %></td>
        <td><%= stock.clarity %></td>
        <td><%= stock.carat %></td>
        <td><%= stock.weight %></td>
        <td><%= stock.Rap %></td>
        <td><%= stock.discount_percentage %></td>
        <td><%= stock.additional_disc_1 %></td>
        <td><%= stock.additional_disc_2 %></td>
        <td><%= stock.additional_disc_3 %></td>
        <td><%= stock.state %></td>
        <td><%= stock.stock_sub_type.name %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
