<p id="notice"><%= notice %></p>

<p>
  <strong>Stockid:</strong>
  <%= @stock.stockId %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @stock.shape %>
</p>

<p>
  <strong>Color:</strong>
  <%= @stock.color %>
</p>

<p>
  <strong>Clarity:</strong>
  <%= @stock.clarity %>
</p>

<p>
  <strong>Carat:</strong>
  <%= @stock.carat %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @stock.weight %>
</p>

<p>
  <strong>Rap:</strong>
  <%= @stock.Rap %>
</p>

<p>
  <strong>Discount percentage:</strong>
  <%= @stock.discount_percentage %>
</p>

<p>
  <strong>Additional disc 1:</strong>
  <%= @stock.additional_disc_1 %>
</p>

<p>
  <strong>Additional disc 2:</strong>
  <%= @stock.additional_disc_2 %>
</p>

<p>
  <strong>Additional disc 3:</strong>
  <%= @stock.additional_disc_3 %>
</p>

<p>
  <strong>State:</strong>
  <%= @stock.state %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
