<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @broker.mobile %>
</p>

<p>
  <strong>Qbc:</strong>
  <%= @broker.qbc %>
</p>

<p>
  <strong>Address:</strong>
  <%= @broker.address %>
</p>

<p>
  <strong>Refrence 1:</strong>
  <%= @broker.refrence_1 %>
</p>

<p>
  <strong>Refrence 2:</strong>
  <%= @broker.refrence_2 %>
</p>

<p>
  <strong>Refrence 3:</strong>
  <%= @broker.refrence_3 %>
</p>

<p>
  <strong>Gst no:</strong>
  <%= @broker.gst_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @broker.pan_no %>
</p>

<p>
  <strong>Adhaar no:</strong>
  <%= @broker.adhaar_no %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @broker.mobile_2 %>
</p>

<%= link_to 'Edit', edit_broker_path(@broker) %> |
<%= link_to 'Back', brokers_path %>
